registry=https://registry.npmjs.org/
strict-ssl=true
ignore-scripts=true
save-exact=true
engine-strict=true
strict-peer-deps=true
package-lock=false
audit=true
audit-level=moderate
fund=false
update-notifier=false
